/* body { 
    background: url(../images/teletherapy.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
  } */

  .connect-btn {
    background-color: #E3F2FD;
  }